name: Deploy Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build and deploy PS Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('buildtools/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: Install dependencies
        working-directory: buildtools
        run: sh ./mkdocs-setup.sh

      - name: Build and deploy to GitHub Pages
        run: mkdocs build
        env:
          PS_GITHUB_TOKEN: ${{ secrets.PS_GITHUB_TOKEN }}

      - name: Checkout Deploy Repo
        uses: actions/checkout@v3
        with:
          repository: product-science/product-science.github.io
          ref: master
          path: product-science.github.io
          token: ${{ secrets.PS_GITHUB_TOKEN }}

      - name: Deploy
        working-directory: product-science.github.io
        run: mkdocs gh-deploy --config-file ../mkdocs.yml --remote-branch master
        env:
          PS_GITHUB_TOKEN: ${{ secrets.PS_GITHUB_TOKEN }}
